@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #7159c1;
    --secondary-color: #f7df1e;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header {
    background-color: #fff;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a:hover {
    color: var(--primary-color);
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -3px;
}

.links a:hover:after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* ================ card ================ */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    margin: 45px auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.5);

    animation: up 200ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: bold;
    color: #777;
}

.details .item div:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #777;
    background-color: var(--secondary-color);
    padding: 8px 16px;
    border-radius: 16px;
    margin-left: 4px;
    margin-top: 8px;
    display: inline-block;
}

/* ================ form ================ */

input {
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    width: 100%;
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 32px;
}

a.button {
    display: block;
    box-sizing: border-box; 
    text-align: center;
    text-decoration: none;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: #ED5E68;
}