@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #FF3D4C;
    --secondary-color: #85E2BF;
    --action: #610a00;
    --gray: #777777
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FF3D4C;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header img {
    width: 80px;
    height: 80px;
    left: 5%;
    position: absolute;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: var(--gray);
    position: relative;
}

.links a:hover {
    color: var(--primary-color);
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -3px;
}

.links a:hover:after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* ================ card ================ */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    position: relative;

    margin: 45px auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.5);

    animation: up 200ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: bold;
    color: var(--gray);
}

.details .item div:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span,
tbody tr td:nth-child(2) span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--gray);
    background-color: var(--secondary-color);
    padding: 8px 16px;
    border-radius: 16px;
    margin-left: 4px;
    margin-top: 8px;
    display: inline-block;
}

/* ================ form ================ */

input,
select {
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    width: 100%;
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 32px;
}

a.button {
    display: block;
    box-sizing: border-box; 
    text-align: center;
    text-decoration: none;
}

#form-delete button[type="submit"] {
    background-color: var(--gray);
    text-transform: uppercase;
    margin-top: 8px;
}

/* ================ INDEX ================ */

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
    margin-bottom: 24px;
}

.table-container thead tr th {
    text-align: center;
}

.table-container thead tr th:nth-child(2) {
    text-align: center;
}

.table-container thead tr th:last-child {
    color: var(--action);
}

.table-container thead tr th:last-child,
tbody tr td:last-child {
    text-align: center;
}

thead th {
    color: var(--gray);
    text-transform: uppercase;
    font-size: 14px;
}

th, td {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 40%;
    border: 1px solid var(--secondary-color);
    box-shadow: 3px 1px 6px -4px #000;
} 

tbody tr td:nth-child(1) {
    color: var(--primary-color);
    font-weight: bold;
}

tbody tr td:nth-child(2),
tbody tr td:nth-child(3) {
    text-align: center;
}

tbody tr td:nth-child(3) {
    font-weight: bold;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:last-child a,
.table-container > a {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
}

tbody tr td:last-child a:hover {
    color: #555;
    background-color: var(--secondary-color);
    transition: 300ms ease-in-out;  
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.table-container > a span img {
    width: 14px;
    height: 14px;
    background-position: center;
    background-size: cover;
    margin-right: 8px;
}

.table-container > a:hover {
    color: #555;
    background-color: var(--secondary-color);
    transition: 300ms ease-in-out;
}