.pagination {
    margin: 0 auto;
}

.pagination a,
.pagination span {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter: brightness(0.3);
    
    border-bottom: 1px solid var(--action);
}