{# FAV ICON #}
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

{# CSS #}

<link rel="stylesheet" href="/styles/global.css">
<link rel="stylesheet" href="/styles/styles.css">

<link rel="stylesheet" href="/styles/table.css">
<link rel="stylesheet" href="/styles/pagination.css">

<link rel="stylesheet" href="/styles/card.css">